<section>
  <h1>About Me</h1>
  <p>李秦琦  Edam Lee<br>Undergraduate student major in computer science at Fudan University.<br><br>I love cats.</p>
  <p>Weibo:   <a href="http://weibo.com/sumomoshinqi">@sumomoshinqi</a><br/>
  人人:   <a href="http://www.renren.com/liqinqi">李秦琦</a><br/>
     Twitter: <a href="https://twitter.com/#!/sumomoshinqi">@sumomoshinqi</a><br/>
     Facebook: <a href="https://www.facebook.com/edam.lqq">Edam Lee</a><br/>
     WeChat:<br>
  <img src="/images/wechat.jpg"  alt="WeChat" /><br/>
     Other:   <a href="https://github.com/sumomoshinqi">Github</a>, <a href="https://plus.google.com/112017966298007566851">Google+</a>, <a href="cn.linkedin.com/pub/edam-lee/61/483/b92">LinkedIn</a></p>
  </p>
</section>